# Project exclude paths
/.idea
*.iml
/nms-api/target/
/target/
*/target/
BuildTools/
run/
/paper/run*/
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.DS_Store

.kotlin/
