# Project exclude paths
/.idea
*.iml
/API/target/
/target/
/v1_8_R3/target/
/v1_9_R2/target/
/v1_10_R1/target/
/v1_11_R1/target/
/v1_12_R1/target/
/v1_13_R2/target/
/v1_14_R1/target/
/v1_15_R1/target/
/v1_16_R1/target/